<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
  "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.demo.post">

    <select id="byId" resultType="pin.ramon.mybatis.demo.Post">
        select id, autor, texto
          from post
         where id = #{id}
    </select>

    <select id="byAutor" resultType="pin.ramon.mybatis.demo.Post">
        select id, autor, texto
        from post
        where autor = #{autor}
    </select>

    <select id="byIdAutor" parameterType="map" resultType="pin.ramon.mybatis.demo.Post">
        select texto
        from post
        where id = #{id}
          and autor = #{autor}
    </select>

</mapper>
